//############################
//VARIABLES & MIXINS
//############################
//----------------------------
//colors
//----------------------------
$pink: #F2D1C8;
$lightgreen: #D1D9CC;
$darkgreen: #95A693;
$tomette: #B36458;
$black: #160300;
$white: #FFF5F3;

//----------------------------
//fonts
//----------------------------
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


$berkshire: "Berkshire Swash", cursive;
$lora: "lora", serif;
$lato: "lato", sans-serif;

//----------------------------
//mixins
//----------------------------
@mixin tablet_min_width {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop_min_width {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

//############################
//STYLING
//############################

//----------------------------
//typography
//----------------------------

h1 {
    font-family: $berkshire;
    font-size: 1.2rem;
}

h2 {
  font-family: $lora;
}
p,
a {
    font-family: $lato;
    font-size: 1rem;
}


//----------------------------
// background frame
//----------------------------
body {
  background-color: $white;
}

.background-shadow {
  background-color: $darkgreen;
  border: 1px solid $black;
  margin: 0.5rem 2rem 2.5rem 0.5rem;
}

.background-container {
  background-color: $pink;
  border: 1px solid $black;
  margin: 0.5rem -1rem -1rem 0.7rem;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
}
//----------------------------
//language fonctionality 
//!add button styling below
//----------------------------
.fr {
  display: none;
}

#btn-lang {
  margin-bottom: 0.5rem;
  margin-right: -0.5rem;
  background-color: $black;
  color: $white;
  border: none;
  text-decoration: underline;
  padding: 0.5rem 0.8rem;
  font-family: $lora;
  font-size: 0.8rem;
  float: right;
}
//----------------------------
//portrait
//----------------------------
.circle-shape {
  border: 1px solid $black;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: $lightgreen;
  overflow: hidden;
  margin-left: 0.3rem;
  margin-bottom: 1rem;
}

#portrait {
  width: 140px;
}

//----------------------------
//name & introductory text
//----------------------------
.intro {
  margin: 0.3rem;
}

//----------------------------
//list of links
//?suggestion: add a shadow to button to make it more stand out
//----------------------------
ul {
  list-style: none;
  padding-left: 0rem;
}

li {
  padding: 0.3rem;
  button {
    background-color: $white;
    border: 1px solid $black;
    text-align: left;
    padding: 0.5rem 0.5rem 0 0.5rem;
    h2 {
      margin: 0;
    }
    p {
      margin-top: 0rem;
    }
  }
}


//----------------------------
//navigation icons
//----------------------------

nav {
  margin-left: 0.5rem;
  img {
    max-width: 24px;
    padding-right: 0.5rem;
  }
}

//----------------------------
//footer
//----------------------------

footer {
  border-top: 1px solid $black;
  text-align: center;
  p,
  a {
    font-family: $lora;
    font-size: 0.9rem;
  }
}
