//############################
//VARIABLES & MIXINS
//############################
//----------------------------
//colors
//----------------------------
$black: #160300;
$white: #FFFFFF;
$pink: #FFE8E2;
$green: #F6FFF2;
$highlight: #FF00EB;
$border: 1px solid $black;

//----------------------------
//fonts
//----------------------------

@font-face {
  font-family: JuliaMono-Regular;
  src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

$julia: "JuliaMono-Regular", monospace;

//----------------------------
//mixins
//----------------------------
@mixin tablet_min_width {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop_min_width {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

//############################
//STYLING
//############################

//----------------------------
//typography
//----------------------------

.page, button, a {
  font-family: $julia;
  color: $black;
}

//----------------------------
// background frame
//----------------------------

.page {
  background-color: $pink;
}

.background__shadow {
  background-color: $green;
  border: $border;
  margin: 1rem 1.5rem 2rem 0.5rem;
  // @include tablet_min_width {
  //   margin: 10%;
  // }
  // @include desktop_min_width {
  //   margin: 15%;
  // }
}

.background__container {
  background-color: $white;
  border: $border;
  margin: 0.5rem -1rem -1rem 0.7rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  // @include tablet_min_width {
  //   padding-left: 3rem;
  //   padding-right: 3rem;
  //   padding-top: 2rem;
  //   min-height: 80vh;
  // }
  // @include desktop_min_width {
  //   margin: 0.8rem -1rem -1rem 1rem;
  //   padding-top: 0.5rem;
  //   padding-bottom: 2rem;
  //   padding-left: 5rem;
  //   padding-right: 5rem;
  // }
}
//----------------------------
//language fonctionality 
//----------------------------
.fr {
  display: none;
}

.button__language {
  margin-bottom: 0.5rem;
  margin-right: -0.5rem;
  background-color: $black;
  color: $white;
  border: none;
  padding: 0.5rem 0.8rem;
  font-size: 0.6rem;
  float: right;
  cursor: pointer;
  // &:hover {
  //   color: $lightgreen;
  // }
  // &:focus {
  //   color: $black;
  //   background-color: $darkgreen;
  //   outline: 1px solid black;
  // }
  // @include tablet_min_width {
  //   margin-right: -3rem;
  // }
  // @include desktop_min_width {
  //   margin-top: 1rem;
  //   margin-right: -5rem;
  // }
}

//----------------------------
//portrait
//----------------------------

//?impression d'un trou dans la feuille ? (inner shadow ??)
.circle-shape {
  border: $border;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: $green;
  overflow: hidden;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  box-shadow:
  0.7px 0.7px 1.1px rgba(0, 0, 0, 0.04),
  2.2px 2.2px 3.6px rgba(0, 0, 0, 0.06),
  10px 10px 16px rgba(0, 0, 0, 0.1);
  // @include tablet_min_width {
  //   margin-top: 3rem;
  // }
  // @include desktop_min_width {
  //   margin-top: 0.5rem;
  //   width: 120px;
  //   height: 120px;
  // }
}

.portrait__drawing{
  width: 140px;
  // @include desktop_min_width {
  //   width: 120px;
  // }
}

//----------------------------
//name & introductory text
//----------------------------

.main {
  margin: 0.5rem 0.5rem 0.5rem 0.8rem;
}

.main__title {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.main__description {
  font-size: 0.9rem;
}

//----------------------------
//list of links
//----------------------------

.links {
  padding-left: 0;
}

.links__link {
  list-style: none;
  border: $border;
  padding: 1rem 0.5rem;
  margin: 0.5rem;
}

.link-button {
  text-decoration: none;
}

.link__title {
  margin: 0;
  font-size: 1.2rem;
}
.link__description {
  margin: 0;
  font-size: 0.8rem;
}

// li {
//   padding: 0.3rem;
//   button {
//     min-width: 100%;
//     background-color: $white;
//     border: 1px solid $black;
//     text-align: left;
//     padding: 0.5rem 0.5rem 0 0.5rem;
//     cursor: pointer;
//     box-shadow:
//     0.7px 0.7px 1.1px rgba(0, 0, 0, 0.04),
//     2.2px 2.2px 3.6px rgba(0, 0, 0, 0.06),
//     10px 10px 16px rgba(0, 0, 0, 0.1);
//     h2 {
//       margin: 0;
//     }
//     p {
//       margin-top: 0rem;
//     }
//     transition: transform 0.3s, box-shadow 0.4s;
//     &:hover {
//       background-color: $lightgreen;
//       box-shadow: -6px -6px 0px 0px $black;
//       transform: translate(4px, 4px);
//     }
//     &:focus {
//       background-color: $lightgreen;
//       box-shadow: -6px -6px 0px 0px $black;
//       transform: translate(4px, 4px);
//       outline: 1px solid $tomette;
//     }
   
//   }
// }


//----------------------------
//navigation
//----------------------------

.navigation {
  margin-left: 0.5rem;
  .navigation__icon {
    max-width: 24px;
    margin-right: 0.5rem;
  }
}

//----------------------------
//footer
//----------------------------

.footer {
  border-top: $border;
  text-align: center;
  // @include tablet_min_width {
  //   position: fixed;
  //   bottom: 0;
  //   width: 100%;
  // }
  // @include desktop_min_width {
  //   p,
  //   a {
  //     font-family: $lora;
  //     font-size: 0.8rem;
  //   }
  // }
}
