//############################
//VARIABLES & MIXINS
//############################
//----------------------------
//colors
//----------------------------
$black: #160300;
$white: #FFFFFF;
$pink: #FFE8E2;
$green: #F6FFF2;
$highlight: #FF00EB;
$border: 1px solid $black;

//----------------------------
//fonts
//----------------------------

@font-face {
  font-family: JuliaMono-Regular;
  src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

$julia: "JuliaMono-Regular", monospace;

//----------------------------
//mixins
//----------------------------
@mixin tablet_min_width {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin tablet_min_height-small {
  @media screen and (min-height: 850px) {
    @content;
  }
}

@mixin tablet_min_height-large {
  @media screen and (min-height: 900px) and (max-width: 900px) {
    @content;
  }
}

//############################
//STYLING
//############################

//----------------------------
//typography
//----------------------------

.page, button, a {
  font-family: $julia;
  color: $black;
}

a {
  &:hover,
  &:focus {
    color: $highlight;
  }
}

//----------------------------
// background frame
//----------------------------

.page {
  background-color: $pink;
}

.background__shadow {
  background-color: $green;
  border: $border;
  margin: 1rem 1.5rem 2rem 0.5rem;
  @include tablet_min_width {
    margin: 2% 25% 5% 25%;
  }
  @include tablet_min_height-large {
    margin-top: 15%;
  }
}

.background__container {
  background-color: $white;
  border: $border;
  margin: 0.5rem -1rem -1rem 0.7rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

//----------------------------
//language fonctionality 
//----------------------------
.fr {
  display: none;
}

.button__language {
  margin-bottom: 0.5rem;
  margin-right: -0.5rem;
  background-color: $black;
  color: $white;
  border: $border;
  padding: 0.5rem 0.8rem;
  font-size: 0.6rem;
  float: right;
  cursor: pointer;
  &:hover {
    color: $black;
    background-color: $green;
  }
  &:focus {
    color: $highlight;
    background-color: $green;
    border-color: $highlight;
    outline: 1px dashed $highlight;
  }
}

//----------------------------
//portrait
//----------------------------

.circle-shape {
  border: $border;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: $green;
  overflow: hidden;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  box-shadow:
  0.7px 0.7px 1.1px rgba(0, 0, 0, 0.04),
  2.2px 2.2px 3.6px rgba(0, 0, 0, 0.06),
  6px 6px 6px rgba(0, 0, 0, 0.1);
}

.portrait__drawing{
  width: 140px;
}

//----------------------------
//name & introductory text
//----------------------------

.main {
  margin: 0.5rem 1rem 0rem 1rem;
}

.main__title {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.main__description {
  font-size: 0.8rem;
}

//----------------------------
//list of links
//----------------------------

.links {
  padding-left: 0;
}

.links__link {
  list-style: none;
  padding: 1rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  cursor: pointer;
  border: $border;
  box-shadow:
  0.7px 0.7px 1.1px rgba(0, 0, 0, 0.04),
  2.2px 2.2px 6px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s, box-shadow 0.4s;
  &:hover {
    background-color: $green;
    box-shadow: -6px -6px 0px 0px $black;
    transform: translate(4px, 4px);
  }
}

.link-button {
  text-decoration: none;
  &:hover {
     color: $black;
  }
  &:focus {
    color: $highlight;
    background-color: $green;
  }
}

.link__title {
  margin: 0;
  font-size: 1rem;
}
.link__description {
  margin: 0;
  padding-top: 0.15rem;
  font-size: 0.80rem;
}

//----------------------------
//navigation
//----------------------------

.navigation {
  margin-left: 0.5rem;
}
.navigation__icon {
  max-width: 24px;
}

.navigation__link {
  padding: 0.7rem 0.2rem 0rem 0.2rem;
  text-decoration: none;
  &:hover {
    outline: 2px dashed $highlight;
  }
  &:focus {
    outline: 2px dashed $highlight;
  }
}
//----------------------------
//footer
//----------------------------

.footer {
  border-top: $border;
  text-align: center;
  font-size: 0.8rem;
  @include tablet_min_height-small {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}